# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
run
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs


# Files from Forge MDK
forge*changelog.txt

.cache
libs/OptiFine-*.jar

mods
libs/reforgedplaymod-1.20.1-0.3.1.jar
mods_server
libs/voxy-0.2.7-alpha.jar
