public net.minecraft.world.effect.MobEffect <init>(Lnet/minecraft/world/effect/MobEffectCategory;I)V # MobEffect
public net.minecraft.world.entity.animal.Bee$BeePollinateGoal
public net.minecraft.world.entity.animal.Bee.BeePollinateGoal

public net.minecraft.world.entity.animal.Fox$SeekShelterGoal

public net.minecraft.world.entity.projectile.ProjectileUtil m_278167_(Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/entity/Entity;Ljava/util/function/Predicate;Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/level/Level;)Lnet/minecraft/world/phys/HitResult; # getHitResult


public net.minecraft.server.level.ServerLevel f_263684_ # THUNDER_DELAY

#public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher$RenderChunk$RebuildTask
#public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher$RenderChunk$RebuildTask$CompileResults

public net.minecraft.client.renderer.chunk.RenderChunk
public net.minecraft.client.renderer.chunk.RenderChunk f_200444_ # wrapped

# Season Color
public net.minecraft.world.level.FoliageColor f_46104_ # pixels
public net.minecraft.world.level.GrassColor f_46413_ # pixels

public net.minecraft.client.gui.font.FontManager$FontDefinitionFile
public net.minecraft.client.gui.font.FontManager$FontDefinitionFile <init>(Ljava/util/List;)V # FontDefinitionFile
public-f net.minecraft.data.loot.LootTableProvider m_6055_()Ljava/lang/String; # getName

public net.minecraft.advancements.critereon.BlockPredicate f_17903_ # tag

public net.minecraft.world.level.Level f_46437_ # oRainLevel
public net.minecraft.world.level.Level f_46438_ # rainLevel

public-f net.minecraft.world.level.levelgen.Heightmap.Types f_64277_ # isOpaque
public net.minecraft.server.level.ServerChunkCache m_8364_(J)Lnet/minecraft/server/level/ChunkHolder; # getVisibleChunkIfPresent

public net.minecraft.client.renderer.LevelRenderer$RenderChunkStorage
public net.minecraft.client.renderer.LevelRenderer f_109465_ # level
public net.minecraft.client.renderer.LevelRenderer$RenderChunkInfo

public-f net.minecraft.client.renderer.BiomeColors f_108790_ # FOLIAGE_COLOR_RESOLVER
public-f net.minecraft.client.renderer.BiomeColors f_108789_ # GRASS_COLOR_RESOLVER

public-f net.minecraft.client.renderer.FogRenderer f_234164_ # MOB_EFFECT_FOG
public net.minecraft.client.renderer.FogRenderer$BlindnessFogFunction
public net.minecraft.client.renderer.FogRenderer$MobEffectFogFunction
public net.minecraft.client.renderer.FogRenderer$FogData

public net.minecraft.world.level.biome.MultiNoiseBiomeSource m_274409_()Lnet/minecraft/world/level/biome/Climate$ParameterList; # parameters
# Biome
#public-f net.minecraft.world.level.biome.Biome f_47437_ # climateSettings
public-f net.minecraft.world.level.biome.Biome m_47505_(Lnet/minecraft/core/BlockPos;)F # getTemperature

public net.minecraft.server.level.ChunkMap m_140416_()Ljava/lang/Iterable; # getChunks

public net.minecraft.client.renderer.GameRenderer f_109050_ # postEffect
public net.minecraft.client.renderer.GameRenderer f_109053_ # effectActive
public net.minecraft.client.renderer.GameRenderer f_172578_ # shaders
public net.minecraft.client.renderer.PostChain f_110009_ # passes

public net.minecraft.client.renderer.block.ModelBlockRenderer$AmbientOcclusionFace
public net.minecraft.client.resources.model.MultiPartBakedModel f_119459_ # selectors

public net.minecraft.advancements.critereon.StatePropertiesPredicate$PropertyMatcher
public net.minecraft.advancements.critereon.StatePropertiesPredicate$ExactPropertyMatcher
public net.minecraft.advancements.critereon.StatePropertiesPredicate$ExactPropertyMatcher f_67707_ # value
public net.minecraft.advancements.critereon.StatePropertiesPredicate$RangedPropertyMatcher
public net.minecraft.advancements.critereon.StatePropertiesPredicate$RangedPropertyMatcher f_67727_ # minValue
public net.minecraft.advancements.critereon.StatePropertiesPredicate$RangedPropertyMatcher f_67728_ # maxValue
public net.minecraft.advancements.critereon.StatePropertiesPredicate f_67659_ # properties
public net.minecraft.advancements.critereon.StatePropertiesPredicate <init>(Ljava/util/List;)V # StatePropertiesPredicate

public net.minecraft.world.level.block.state.BlockBehaviour$BlockStateBase$Cache
public net.minecraft.world.level.block.state.BlockBehaviour$BlockStateBase$Cache <init>(Lnet/minecraft/world/level/block/state/BlockState;)V # Cache

public net.minecraft.core.MappedRegistry f_205843_ # byValue
public net.minecraft.core.MappedRegistry f_122673_ # toId

public net.minecraft.commands.arguments.ResourceKeyArgument m_246813_(Lcom/mojang/brigadier/context/CommandContext;Ljava/lang/String;Lnet/minecraft/resources/ResourceKey;Lcom/mojang/brigadier/exceptions/DynamicCommandExceptionType;)Lnet/minecraft/core/Holder$Reference; # resolveKey
